Flask==3.0.0
mediapipe
torch
torchvision
opencv-python-headless
numpy
Pillow
scikit-learn
pandas
gunicorn==25.3.0


# download dataset
#kaggle datasets download -d shahzadabbas/expression-in-the-wild-expw-dataset -p "/home/ns-44/Desktop/Mood Detector/data/expw_dataset" --unzip